.searchBar{
    position: fixed; 
    margin-top: 25px;
    display: flex;
    gap: 2em;
    justify-content: center;
    text-align: center;
    align-items: center;
}
body{
    background-color: black;
    max-height: 935px;
}
h1{
    background-color: black;
    width: 390px;
    margin-left: -15px;
    padding-left: 15px;
    color: aliceblue; 
    margin-top: 80px;
    position:fixed;
    justify-content: center;
    text-align: center;
    display: inline-block; /* Ensure the background only wraps around the text */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */

}


header img{
    margin-top: 50px;
    margin-left: 0;
    width: 60px;
    height: 60px;
   
    cursor: pointer;
    border:none ;
}


.Mypage img{
    margin-left: -8px;
    margin-top: -58px;
    max-width: 390px;
}

.footerButton{
padding-right: 30px;
    width: 390px;
    height: 120px;
    margin: 0;
    margin-left: -10px;
    margin-top: -10px;
    color: white;
    font-weight: 1000;
    font-size: 36px;
    background: linear-gradient(to bottom left,rgb(116, 173, 30), black);        border: 2px solid greenyellow;
        border-radius: 50px;
        transition: all 0.3 ease;
    cursor: pointer;


}
